html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-add {
  display: flex;
  justify-content: flex-end;
}

:root {
  --primary-color: #cae2fa;
}
