<div class="container">
  <div class="text-center mb-4">
    <img src="../../../assets/logo.png"
      style="width: 185px;" alt="logo">
  </div>
  <div *ngIf="loginError!=''" class="alert alert-danger" role="alert">
    {{loginError}}
  </div>
  <div *ngIf="loginExito!=''" class="alert alert-success" role="alert">
    {{loginExito}}
  </div>
  
  <form [formGroup]="loginForm">
    <div class="d-flex justify-content-center">
      <div class="w-50">
        <div class="mb-3">
          <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="username" [errorStateMatcher]="matcher"
                  placeholder="Ex. pat@example.com">
              <mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
                  Por favor, introduzca el formato correcto
              </mat-error>
              <mat-error *ngIf="username.hasError('required')">
                  Email is <strong>obligatorio</strong>
              </mat-error>
          </mat-form-field>
          
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="w-50">
        <div class="mb-4">
          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" id="password">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              <span *ngIf="password.errors?.['required']">La contraseña es <strong>obligatoria</strong></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    
  
    <div class="d-flex justify-content-center">
      <button type="submit" (click)="login()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Iniciar sesión</button>
    </div>
  
    <div class="text-center">
      <p>¿No estás registrado? <a routerLink="/registro">¡Regístrate!</a></p>
    </div>
  </form>
</div>