<div *ngIf="empleadoError!=''" class="alert alert-danger" role="alert">
  {{empleadoError}}
</div>
  
<mat-tab-group>
    <mat-tab label="Mi cupón"> 
        <div class="mb-3"></div>

        <table mat-table [dataSource]="miCupon" class="mat-elevation-z8">

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>
          
            <ng-container matColumnDef="importe">
              <th mat-header-cell *matHeaderCellDef> Importe </th>
              <td mat-cell *matCellDef="let element"> {{element.importe}}€ </td>
            </ng-container>
          
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha del último uso </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaUltimoUso | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="cupon">
                <th mat-header-cell *matHeaderCellDef> Abrir QR </th>
                <td mat-cell *matCellDef="let element"> <button mat-button (click)="openDialog()">Código QR</button> </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsMiCupon"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMiCupon;"></tr>
          </table>

    </mat-tab>

    <mat-tab label="Mis compras"> 
        <div class="mb-3"></div>

        <div *ngIf="cuponesCanjeados.data.length === 0; else showTable">
            <p>No hay cupones canjeados disponibles.</p>
          </div>

        <ng-template #showTable>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="cuponesCanjeados">
            
                <ng-container matColumnDef="restaurante">
                    <th mat-header-cell *matHeaderCellDef> Restaurante </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreRestaurante}} </td>
                </ng-container>
            
                <ng-container matColumnDef="importeFactura">
                    <th mat-header-cell *matHeaderCellDef> Importe factura </th>
                    <td mat-cell *matCellDef="let element"> {{element.importeFactura}}€ </td>
                </ng-container>
            
                <ng-container matColumnDef="descuentoAplicado">
                    <th mat-header-cell *matHeaderCellDef> Descuento aplicado </th>
                    <td mat-cell *matCellDef="let element"> {{element.importeDescontado}}€ </td>
                </ng-container>
            
                <ng-container matColumnDef="pagado">
                    <th mat-header-cell *matHeaderCellDef> Pagado </th>
                    <td mat-cell *matCellDef="let element"> {{calculatePagado(element)}}€ </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaUso | date:'dd/MM/yyyy'}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCuponesCanjeados"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCuponesCanjeados;"></tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Seleccione página"> Items por página
                </mat-paginator>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>


