<div *ngIf="restauranteError!=null" class="alert alert-danger" role="alert">
{{restauranteError}}
</div>

<mat-tab-group>
    <mat-tab label="Realizar venta"> 
        <div class="mb-3"></div>

        <form [formGroup]="canjearCuponForm"
            (ngSubmit)="canjearCupon()">

            <mat-form-field class="w-100">
                <mat-label>Introduce el importe de la factura</mat-label>
                <input matInput formControlName="importe" type="number" id="importe">
                <mat-error *ngIf="canjearCuponForm.get('importe')?.invalid && (canjearCuponForm.get('importe')?.dirty || canjearCuponForm.get('importe')?.touched)">
                <span *ngIf="canjearCuponForm.get('importe')?.errors?.['required']">El importe es <strong>obligatorio</strong></span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Introduce código del cupon</mat-label>
                <input matInput formControlName="codigoCupon" type="text" id="codigoCupon">
            </mat-form-field>

            <button class="btn btn-secondary startCamara" type="button" (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Parar escaneo' : 'Escanear'}}</button>
            <button class="btn btn-primary">Guardar</button>
            <ngx-scanner-qrcode #action="scanner" [isBeep]="false" style="width:500px; height:500px; margin-top: 30px;"></ngx-scanner-qrcode>
        </form>

    </mat-tab>

    <mat-tab label="Historial de ventas"> 
        <div class="mb-3"></div>

        <div *ngIf="cupones.data.length === 0; else showTable">
            <p>No se ha realizado ninguna venta.</p>
          </div>

        <ng-template #showTable>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="cupones">
            
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaUso | date:'dd/MM/yyyy'}} </td>
                </ng-container>
            
                <ng-container matColumnDef="importeFactura">
                    <th mat-header-cell *matHeaderCellDef> Importe factura </th>
                    <td mat-cell *matCellDef="let element"> {{element.importeFactura}}€ </td>
                </ng-container>
            
                <ng-container matColumnDef="descuentoAplicado">
                    <th mat-header-cell *matHeaderCellDef> Descuento aplicado </th>
                    <td mat-cell *matCellDef="let element"> {{element.importeDescontado}}€ </td>
                </ng-container>
            
                <ng-container matColumnDef="pagado">
                    <th mat-header-cell *matHeaderCellDef> Pagado </th>
                    <td mat-cell *matCellDef="let element"> {{calculatePagado(element)}}€ </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsVentas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsVentas;"></tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Seleccione página"> Items por página
                </mat-paginator>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>