<h2 class="mb-2">Empresas adheridas</h2>
<div class="btn-add">
  <button class="mb-2" routerLink="/empresa/nueva" mat-flat-button color="primary">NUEVA EMPRESA</button>
</div>

<table mat-table [dataSource]="empresas" class="mat-elevation-z8">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let empresa"> {{ empresa.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
    <td mat-cell *matCellDef="let empresa"> {{ empresa.email }} </td>
  </ng-container>
  
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let empresa">
      <button mat-icon-button color="primary" [routerLink]="['/empresa/editar', empresa.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarEmpresa(empresa.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
